:root {
  --ifm-color-primary: hwb(49 18% 7% / 0.877); /* Couleur principale or */
  --ifm-color-primary-dark: #B8860B; /* Variante sombre */
  --ifm-color-primary-darker: #8B6914; /* Variante très sombre */
  --ifm-color-primary-darkest: #705A0C; /* Variante encore plus sombre */
  --ifm-color-primary-light: #FFE44C; /* Variante plus claire */
  --ifm-color-primary-lighter: #FFEEA1; /* Variante très claire */
  --ifm-color-primary-lightest: #FFF8DC; /* Ivoire pour des tons clairs */
}

/* Pour le mode sombre */
[data-theme='dark'] {
  --ifm-color-primary: #FFD700; /* Couleur or pour le mode sombre */
  --ifm-color-primary-dark: #B8860B;
  --ifm-color-primary-darker: #8B6914;
  --ifm-color-primary-darkest: #705A0C;
  --ifm-color-primary-light: #FFE44C;
  --ifm-color-primary-lighter: #FFEEA1;
  --ifm-color-primary-lightest: #FFF8DC;
}
